<template>
  <div class="md-layout">
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-80"
    >
      <div>
        <md-button
          class="md-primary md-round float-left"
          @click="addNewDomain()"
          ><md-icon>add</md-icon>
          {{ this.$S_i18n.t("APP_ADD_SITE_BUTTON_LABEL") }}
        </md-button>
      </div>
      <md-card>
        <md-card-content>
          <div class="md-layout">
            <div
              class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
            >
              <h4 class="title">
                <md-icon class="text-info">public</md-icon>
                <b> {{ this.$S_i18n.t("APP_MY_SITE_TITLE") }}</b>
              </h4>
            </div>
            <!-- DOMAIN FORM AND BUTTONS-->
            <div
              class="md-layout-item md-small-size-100  md-medium-size-100 md-size-60"
            >
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_DOMAIN") }}
                </label>
                <md-input
                  v-model="domainData.domain"
                  @keyup.enter="save_info()"
                ></md-input>
              </md-field>
              <div>
                <md-button
                  class="md-round md-info md-round md-sm float-left"
                  @click="save_info()"
                >
                  {{ this.$S_i18n.t("APP_MY_SITE_BUTTON_SAVE_TEXT") }}
                </md-button>
                &nbsp;&nbsp;
                <md-button
                  class="md-round md-primary md-round md-sm float-left"
                  @click="$router.push('/pages/upgrade')"
                >
                  <md-icon>star_rate</md-icon>
                  {{ this.$S_i18n.t("APP_MY_SITE_BUTTON_UPGRADE_TEXT") }}
                </md-button>
                <div>
                  <br />
                  <h4 class="title">
                    <md-icon class="text-info">generating_tokens</md-icon>
                    <b> {{ this.$S_i18n.t("APP_MY_SITE_TOKEN_HELP_TEXT") }}</b>
                  </h4>
                  <md-field>
                    <label>
                      {{ this.$S_i18n.t("APP_BF_ADD_DOMAIN_ENTER_DOMAIN") }}
                    </label>
                    <md-input
                      v-model="domainData.tokenMeta"
                      disabled
                    ></md-input>
                  </md-field>
                </div>
                <div>
                  <md-button
                    class="md-round md-info md-round float-left md-sm"
                    @click="copy_info()"
                    v-clipboard:copy="domainData.tokenMeta"
                    :disabled="domainData.tokenMeta === ''"
                  >
                    <md-icon class="text-primary ">generating_tokens</md-icon>
                    {{ this.$S_i18n.t("APP_BF_ADD_DOMAIN_COPY_TOKEN") }}
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <!--SUBIDA DE ARCHIVOS-->
    <!--
    <div class="md-layout-item md-small-size-100 md-size-40">
      <md-card>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-size-100">
              <h4 class="title">
                <md-icon class="text-info">queue</md-icon>
                <b> {{ this.$S_i18n.t("APP_MY_SITE_UPLOAD_TITLE") }}</b>
              </h4>
              <br />
            </div>
            <VueFileAgent
              ref="vueFileAgent"
              :disabled="config.disable"
              :theme="config.theme"
              :averageColor="config.averageColor"
              :sortable="config.sortable"
              :deletable="config.deletable"
              :linkable="true"
              :editable="config.editable"
              :auto="config.auto"
              :uploadUrl="config.uploadUrl"
              :multiple="config.multiple"
              :meta="config.meta"
              :accept="config.filetypes"
              :maxSize="config.maxSize"
              :maxFiles="config.maxNFiles"
              :helpText="'Choose images or zip files'"
              :errorText="{
                type: 'Invalid file type. Only images or zip Allowed',
                size: 'Files should not exceed 10MB in size'
              }"
              @upload="uploadEvent('upload', $event)"
              @upload:update="uploadEvent('upload:update', $event)"
              @select="filesSelected($event)"
              @beforedelete="onBeforeDelete($event)"
              @delete="fileDeleted($event)"
              v-model="fileRecords"
            ></VueFileAgent>
          </div>
        </md-card-content>
      </md-card>
    </div>
    -->
  </div>
</template>
<script>
import md5 from "md5";
import Swal from "sweetalert2";
export default {
  components: {},
  data() {
    return {
      fileRecords: [],
      config: {
        accept: "image/*,.zip",
        maxSize: "10MB",
        maxNFiles: 10,
        theme: "list",
        averageColor: true,
        auto: true,
        multiple: true,
        deletable: false,
        meta: true,
        disable: true,
        editable: false,
        sortable: false,
        linkable: true,
        uploadUrl: process.env.VUE_APP_APP_URL_UPLOAD
      },
      domainData: {
        domain: "",
        tokenMeta: ""
      },
      uploadUrl: process.env.VUE_APP_APP_URL_UPLOAD,
      uploadHeaders: {},
      fileRecordsForUpload: [] // maintain an upload queue
    };
  },

  beforeMount() {
    this.set_data();
  },

  mounted() {
    this.set_data();
  },

  methods: {
    set_data() {
      //console.logog("entra", localStorage.getItem("op_id_rup"));
      if (localStorage.getItem("op_id_rup") != null) {
        this.config.disable = false;
        this.domainData.tokenMeta = md5(localStorage.getItem("op_id_rup"));
        //console.logog("tokenMeta", this.domainData.tokenMeta);
        this.domainData.domain = localStorage.getItem("op_domain");
      } else {
        this.domainData.tokenMeta = this.$S_i18n.t("");
        this.domainData.id_plan = 1;
      }
    },
    onCopy: function(e) {
      alert(this.$S_i18n.t("APP_BF_ADD_DOMAIN_TEXT_COPIED"));
    },
    onError: function(e) {
      alert(this.$S_i18n.t("APP_BF_ADD_DOMAIN_ERROR_COPY_TEXT"));
    },

    copy_info() {
      this.showSwal("copy");
    },
    showSwal(type) {
      if (type === "save") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_SAVE_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
      if (type === "copy") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_COPY_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
    },

    async save_info() {
      this.$BF_Services.data = this.domainData;
      await this.$BF_Services.domain_form();
      this.$BF_TOOLS.operationalInfo_Set(this.$BF_Services.data);
      this.set_data();
      this.showSwal("save");
      this.update();
    },

    update() {
      this.$BF_TOOLS.operationalInfo_Set(this.$BF_Services.data);
      this.set_data();
    },

    addNewDomain() {
      this.$BF_TOOLS.operationalInfo_Clear();
      this.domainData.domain = "www.example.com";
      this.domainData.tokenMeta = "";
    },

    /**
    uploadFiles: function () {
      // Using the default uploader. You may use another uploader instead.
      //console.logog("HOLA, ESTOY EN UPLOAD FILES", this.uploadUrl, "ENV", process.env.VUE_APP_APP_URL_UPLOAD)
      //console.logog(this.fileRecordsForUpload)

      this.$refs.vueFileAgent
        .upload(this.uploadUrl, this.uploadHeaders, this.fileRecordsForUpload)
        .then( response => {
          for (var i =0; i<response.length; i++){

            //console.logog(response[i].data.fileLink, this.fileRecordsForUpload[i])

            let blob = new Blob([response[i].data.fileLink], { type: 'application/pdf' })
            let link = document.createElement('a')
            link.href = window.URL.createObjectURL(blob)
            link.download = response[i].data.fileClean
            link.click()
          }
        });
      this.fileRecordsForUpload = [];
    },
 */

    filesSelected: function(fileRecordsNewlySelected) {
      ////console.logog("FILE_SELECTED", fileRecordsNewlySelected);
      var validFileRecords = fileRecordsNewlySelected.filter(
        fileRecord => !fileRecord.error
      );
      this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
        validFileRecords
      );
    },

    uploadEvent(eventName, inputData) {
      var jData = [];
      for (var i = 0; i < inputData.len; i++) {
        s_payload = JSON.parse(inputData[i].request.response);
        jData.push(s_payload);
      }
      ////console.logog("data", inputData, "AFTER_LOOP", jData);
    },

    onBeforeDelete: function(fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        // queued file, not yet uploaded. Just remove from the arrays
        this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
        if (k !== -1) this.fileRecords.splice(k, 1);
      } else {
        if (confirm("Are you sure you want to delete?")) {
          this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
        }
      }
    },
    fileDeleted: function(fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      } else {
        this.deleteUploadedFile(fileRecord);
      }
    }
  }
};
</script>

<style scoped>
.md-field label {
  margin-top: 0px;
  margin-bottom: 15px;
}
</style>
