<template>
  <div class="content">
    <br />
    <br />
    <br />
    <br />
    <div class="md-layout md-layout-item md-small-size-100 md-size-100">
      <h1>CONDICIONES GENERALES DE CONTRATACI&Oacute;N</h1>
      <p>
        <a href="https://www.metawash.me"
          ><strong>https://www.metawash.me</strong></a
        >
      </p>

      <p><strong>CONDICIONES GENERALES DE CONTRATACI&Oacute;N</strong></p>
      <p><strong>&nbsp;</strong></p>

      <strong> 0. INFORMACI&Oacute;N PREVIA A LA CONTRATACI&Oacute;N</strong>

      <p>
        A continuaci&oacute;n, y para su lectura y comprensi&oacute;n, se
        exponen las Condiciones Generales de Contrataci&oacute;n (en adelante,
        las &ldquo;Condiciones Generales&rdquo;), que ser&aacute;n aplicables a
        todas las operaciones comerciales de compra-venta a distancia de los
        servicios realizadas de forma electr&oacute;nica a trav&eacute;s del
        Sitio Web https://www.metawash.me (en adelante, el Sitio Web), desde el
        momento en que el PROPIETARIO DE LA WEB remita al CLIENTE las
        Condiciones Generales en el documento de confirmaci&oacute;n del pedido,
        y no en ning&uacute;n otro momento anterior.
      </p>

      <p>
        Estas Condiciones Generales permanecer&aacute;n en vigor y ser&aacute;n
        v&aacute;lidas durante todo el tiempo que est&eacute;n accesibles a
        trav&eacute;s del Sitio Web, si no est&aacute; de acuerdo con las mismas
        no deber&iacute;a usar este Sitio Web.
      </p>

      <p>
        EL PROPIETARIO DE LA WEB se reserva el derecho de modificar total o
        parcialmente en cualquier momento tanto las Condiciones Generales,
        as&iacute; como todos aquellos avisos legales, directrices y/o
        reglamentos de uso recogidos en el Sitio Web y que, seg&uacute;n los
        casos, sustituir&aacute;n, completar&aacute;n y/o modificar&aacute;n las
        Condiciones Generales aqu&iacute; recogidas, sin que ello afecte a los
        servicios que fueron adquiridos previamente a la modificaci&oacute;n.
      </p>

      <p>
        Dichas modificaciones podr&aacute;n realizarse, a trav&eacute;s del
        Sitio Web, por cualquier forma admisible en derecho y ser&aacute;n de
        obligado cumplimiento durante el tiempo en que se encuentren publicadas
        en la web y hasta que no sean modificadas v&aacute;lidamente por otras
        posteriores.
      </p>

      <p>
        EL PROPIETARIO DE LA WEB informa que el CLIENTE puede tener acceso a las
        Condiciones Generales pulsando sobre el enlace &ldquo;Condiciones
        Generales de Contrataci&oacute;n&rdquo;. Recomendamos que El CLIENTE
        consulte peri&oacute;dicamente las Condiciones Generales, ya que pueden
        sufrir modificaciones. Puede consultar siempre que lo desee la
        versi&oacute;n vigente de dichas condiciones en
        <a href="https://metawash.me/#/condiciones-generales-contratacion"
          >https://metawash.me/#/condiciones-generales-contratacion</a
        >
      </p>

      <p>
        No obstante, EL PROPIETARIO DE LA WEB se reserva el derecho de aplicar,
        en determinados casos, unas Condiciones Particulares con preferencia a
        las presentes Condiciones Generales cuando lo considerara oportuno,
        anunci&aacute;ndolas en tiempo y forma oportunos.
      </p>

      <p>
        En caso de contradicci&oacute;n entre los t&eacute;rminos y condiciones
        manifestadas en las presentes Condiciones Generales y las Condiciones
        Particulares, prevalecer&aacute;n siempre las condiciones acordadas en
        este &uacute;ltimo instrumento respecto de aquellos t&eacute;rminos
        incompatibles, y tan solo respecto de aquellos servicios sometidos a
        dichas condiciones espec&iacute;ficas.
      </p>

      <p>
        La aceptaci&oacute;n del presente documento contractual conlleva que el
        CLIENTE:
      </p>

      <ol>
        <li>Ha le&iacute;do, entiende y comprende lo aqu&iacute; expuesto.</li>
        <li>
          Que es una persona f&iacute;sica o representa a una persona
          jur&iacute;dica con capacidad suficiente para contratar.
        </li>
        <li>
          Que asume todas las condiciones y obligaciones aqu&iacute; dispuestas.
        </li>
      </ol>
      <p><strong>&nbsp;</strong></p>

      <strong>1.. INTERVINIENTES E IDENTIDAD DE LAS PARTES</strong>

      <p>De una parte,</p>

      <p>
        EL PROPIETARIO DE LA WEB es Suments Data Ltd, CI: NI665828, inscrita en
        <a
          href="https://find-and-update.company-information.service.gov.uk/company/NI665828"
          >The Company House</a
        >
        con el n&uacute;mero de registro NI665828, con domicilio en Ap C 2.5 181
        Sandy Row Belfast Co. Antrim BT12 5EU, tel&eacute;fono (+34) 678 698 008
        y correo electr&oacute;nico hola@suments.com
      </p>
      <p>
        Al no tener el responsable del tratamiento sede en Espa&ntilde;a, y a
        los efectos de lo dispuesto en el art&iacute;culo 27 del REGLAMENTO (UE)
        2016/679 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 27 de abril de 2016,
        relativo a la protecci&oacute;n de las personas f&iacute;sicas en lo que
        respecta al tratamiento de datos personales y a la libre
        circulaci&oacute;n de estos datos (en adelante, RGPD), hemos designado a
        un representante al que el CLIENTE puede dirigirse para plantear
        cualquier problema o consulta relacionada con el tratamiento que hacemos
        de sus datos personales y/o nuestra pol&iacute;tica de privacidad y
        cookies.
      </p>
      <p>Nuestro representante en Espa&ntilde;a es:</p>
      <ul>
        <li>Francisco Javier Gonz&aacute;lez Moncayo Garc&iacute;a</li>
        <li>
          Direcci&oacute;n: Calle Caba 19, 1D - 02001 Albacete (Espa&ntilde;a)
        </li>
        <li>
          Correo electr&oacute;nico:
          <a href="mailto:hola@suments.com">hola@suments.com</a>
        </li>
      </ul>
      <p>Y de otra parte,</p>

      <p>
        El CLIENTE, como usuario registrado en el Sitio Web, siendo responsable
        de la veracidad de los datos personales facilitados al PROPIETARIO DE LA
        WEB.
      </p>

      <p>
        Solo tendr&aacute; la consideraci&oacute;n de CLIENTE, la persona
        f&iacute;sica o jur&iacute;dica que acredite adecuadamente su
        condici&oacute;n y acepte las presentes Condiciones Generales y las
        Condiciones Particulares que, en su caso, sean de aplicaci&oacute;n y
        que, junto con el Aviso Legal, la Pol&iacute;tica de Privacidad y la
        Pol&iacute;tica de Cookies, rigen nuestra relaci&oacute;n comercial,
        desde el momento en que el PROPIETARIO DE LA WEB le remita las
        Condiciones Generales en el documento de confirmaci&oacute;n del pedido,
        y no en ning&uacute;n otro momento anterior.
      </p>

      <p>
        Si no está de acuerdo con alguna parte de los términos, no podrá
        adquirir ninguno de los servicios de suscripción mensual o anual
        ofertados en el sitio web.
      </p>

      <p>
        En el caso de personas f&iacute;sicas queda expresamente prohibida la
        compra de servicios por parte de menores de edad o por personas
        jur&iacute;dicas que no cumplan los requisitos previstos en las
        presentes Condiciones Generales de Contrataci&oacute;n.
      </p>

      <p>
        La realización de contrataciones de los servicios de suscripción mensual
        o anual desde el Sitio Web por parte de un menor de edad que falsee la
        información, se entenderá realizada bajo la supervisión y autorización
        de sus padres, tutores o representantes legales.
      </p>

      <br /><br />
      <strong> 2. OBJETO DEL CONTRATO</strong>

      <p>
        Las presentes Condiciones Generales regularán la relación contractual
        que surja entre EL PROPIETARIO DE LA WEB y el CLIENTE por la
        contratación realizada a través del Sitio Web del correspondiente plan
        de suscripción de licencia de uso mensual o anual renovable por dominio
        o email para la limpieza de forma manual o automática de los metadatos
        de los archivos de una web y asignación de un token (número
        identificador único) que permite la activación de los “plugins”
        compatibles para otras plataformas, a través de la aplicación online del
        PROPIETARIO DE LA WEB, para el cumplimiento de la siguiente legislación
        española y europea vigente:
      </p>

      <ul>
        <li>
          Ley 7/1996, de Ordenaci&oacute;n del Comercio Minorista
          <strong>[LCM 7/1996]</strong>
        </li>
        <br />
        <li>
          Ley 7/1998, de 13 de abril, sobre condiciones generales de la
          contrataci&oacute;n <strong>[LCGC 7/1998]</strong>
        </li>
        <br />
        <li>
          Ley 34/2002, de 11 de julio,
          <strong
            >de Servicios de la Sociedad de la Informaci&oacute;n y de Comercio
            Electr&oacute;nico [LSSICE 34/2002]</strong
          >
        </li>
        <br />
        <li>
          Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se
          aprueba el texto refundido de la Ley General para la Defensa de los
          Consumidores y Usuarios y otras leyes complementarias
          <strong>[TRLGDCU 1/2007]</strong>
        </li>

        <br />

        <li>
          Ley 3/2014, de 27 de marzo, que modifica el Real Decreto Legislativo
          1/2007, de 16 de noviembre, por el que se aprueba el texto refundido
          de la Ley General para la Defensa de los Consumidores y Usuarios
          <strong>[LGDCU 3/2014]</strong>
        </li>
        <br />
        <li>
          Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27
          de abril de 2016, relativo a la Protecci&oacute;n de las Personas
          F&iacute;sicas en lo que respecta al Tratamiento de Datos Personales y
          a la Libre Circulaci&oacute;n de estos datos y por el que se deroga la
          Directiva 95/46/CE (Reglamento general de protecci&oacute;n de datos)
          <strong>[RGPD (UE) 2016/679]</strong>
        </li>
        <br />
        <li>
          Ley 7/2017, de 2 de noviembre, por la que se incorpora al ordenamiento
          jur&iacute;dico espa&ntilde;ol la Directiva 2013/11/UE, del Parlamento
          Europeo y del Consejo, de 21 de mayo de 2013, relativa a la
          resoluci&oacute;n alternativa de litigios en materia de consumo
          <strong>[LEY A</strong><strong>DR 7/2017]</strong>
        </li>
        <br />
        <li>
          REGLAMENTO (UE) 2018/302 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 28 de
          febrero de 2018 sobre medidas destinadas a impedir el bloqueo
          geogr&aacute;fico injustificado y otras formas de
          discriminaci&oacute;n por raz&oacute;n de la nacionalidad, del lugar
          de residencia o del lugar de establecimiento de los clientes en el
          mercado interior<strong> [REGLAMENTO ANTI-GEOBLOQUEO]</strong>
        </li>
        <br />
        <li>
          Ley Org&aacute;nica 3/2018, de 5 de diciembre, de Protecci&oacute;n de
          Datos Personales y garant&iacute;a de los derechos digitales
          <strong>[LOPDGDD 3/2018]</strong>
        </li>
        <br />
        <li>
          REGLAMENTO (UE) 2019/1150 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 20
          de junio de 2019 sobre el fomento de la equidad y la transparencia
          para los usuarios profesionales de servicios de intermediaci&oacute;n
          en l&iacute;nea <strong>[REGLAMENTO P2B]</strong>
        </li>

        <br />

        <li>
          Real Decreto-ley 1/2021, de 19 de enero, de protecci&oacute;n de los
          consumidores y usuarios frente a situaciones de vulnerabilidad social
          y econ&oacute;mica<strong> [REAL DECRETO-LEY 1/2021]</strong>
        </li>
      </ul>

      <p>
        Como condición para contratar los planes de servicios de suscripción de
        licencia de uso mensual o anual renovable por dominio o email ofrecidos
        por EL PROPIETARIO DE LA WEB, el CLIENTE debe registrarse previamente en
        el Sitio Web y proporcionar la toda la información solicitada a tal
        efecto, a través de los correspondientes formularios electrónicos
        existentes.
      </p>
      <p>
        Teniendo en cuenta lo anterior, el CLIENTE &uacute;nicamente
        estar&aacute; sujeto a las Condiciones Generales desde el momento en que
        reciba por parte del PROPIETARIO DE LA WEB todas las condiciones de la
        compra en el documento de confirmaci&oacute;n del pedido.
      </p>
      <p>
        Teniendo en cuenta lo anterior, el CLIENTE únicamente estará sujeto a
        las Condiciones Generales desde el momento en que reciba por parte del
        PROPIETARIO DE LA WEB todas las condiciones de la compra en el documento
        de confirmación del pedido.
      </p>

      <p>
        Las presentes Condiciones y todo documento al que se haga referencia
        expresa en estas constituyen el acuerdo &iacute;ntegro existente entre
        el CLIENTE y el PROPIETARIO DE LA WEB en relaci&oacute;n con el objeto
        de compraventa y sustituyen a cualquier otro pacto, acuerdo o promesa
        anterior convenida verbalmente o por escrito por las mismas partes.
      </p>

      <p>
        El CLIENTE y el PROPIETARIO DE LA WEB reconocen haber consentido la
        celebraci&oacute;n de un contrato sin haber confiado en ninguna
        declaraci&oacute;n o promesa hecha por la otra parte, salvo aquello que
        figura expresamente mencionado en las presentes Condiciones.
      </p>
      <br /><br />
      <strong
        >3. CONDICIONES DE ACCESO Y UTILIZACI&Oacute;N DEL SITIO WEB</strong
      >

      <p>
        El acceso al Sitio Web es libre y gratuito, salvo en lo relativo al
        coste de la conexi&oacute;n a trav&eacute;s de la red de
        telecomunicaciones suministrada por el proveedor de acceso contratado
        por el usuario.
      </p>

      <p>
        El acceso a la mayor&iacute;a de contenidos del Sitio Web es
        completamente gratuito y no requiere registro previo, sin perjuicio de
        que EL PROPIETARIO DE LA WEB condiciona la utilizaci&oacute;n de algunos
        de los servicios ofrecidos en su web a la previa cumplimentaci&oacute;n
        del correspondiente formulario de registro, y en su caso pueden implicar
        el abono de cantidades econ&oacute;micas.
      </p>

      <p>
        Queda prohibido el acceso al Sitio Web por parte de menores de 18
        a&ntilde;os de edad. No obstante, en caso de que tenga lugar el acceso
        al Sitio Web por parte de un menor, se presumir&aacute; que dicho acceso
        se ha realizado con autorizaci&oacute;n previa y expresa de sus padres,
        tutores o representantes legales, sin perjuicio de que EL PROPIETARIO DE
        LA WEB se reserva el derecho a realizar cuantas verificaciones y
        comprobaciones considere oportunas.
      </p>

      <p>
        Bajo ning&uacute;n concepto EL PROPIETARIO DE LA WEB se
        responsabilizar&aacute; de la veracidad de los datos facilitados por el
        usuario, por lo que cada &eacute;ste ser&aacute; el &uacute;nico
        responsable de que la informaci&oacute;n facilitada al PROPIETARIO DE LA
        WEB resulte adecuada, exacta y precisa o, en caso contrario, de las
        posibles consecuencias que pudieran derivarse de la falta de calidad de
        los datos o de las manifestaciones falsas o inexactas que realice.
      </p>
      <br /><br />
      <p>
        <strong
          >3.1. Requisitos para obtener la condici&oacute;n de usuario
          registrado</strong
        >
      </p>

      <p>
        La adquisici&oacute;n de los servicios puestos por EL PROPIETARIO DE LA
        WEB a disposici&oacute;n de los empresarios o profesionales, se realiza
        como usuario registrado.
      </p>

      <p>
        Podr&aacute;n actuar como usuarios registrados, las personas
        f&iacute;sicas mayores de dieciocho (18) a&ntilde;os y las personas
        jur&iacute;dicas legalmente constituidas y con capacidad suficiente para
        contratar, y que proporcionen a trav&eacute;s del Sitio Web toda la
        informaci&oacute;n requerida como obligatoria, referente a datos de
        identificaci&oacute;n, datos de facturaci&oacute;n y m&eacute;todo de
        pago escogido.
      </p>
      <p>
        El CLIENTE, al completar el correspondiente formulario de registro para
        obtener la condici&oacute;n de usuario, se compromete con las
        obligaciones mostradas a continuaci&oacute;n:
      </p>
      <ul>
        <li>
          No registrarse aportando deliberadamente datos falsos o inexactos,
          as&iacute; como suplantar la identidad de terceros.
        </li>
        <li>No comercializar, vender o transferir la cuenta a terceros.</li>
        <li>
          No utilizar cuentas de terceros a no ser que exista un consentimiento
          expreso.
        </li>
        <li>
          Mantener una adecuada confidencialidad de los datos y claves de acceso
          facilitadas.
        </li>
      </ul>
      <br /><br />
      <p><strong>3.2. Licencia de uso</strong></p>

      <p>
        El PROPIETARIO DE LA WEB concede al CLIENTE una licencia de uso
        intransferible y exclusiva para el uso de la aplicaci&oacute;n. Esta
        licencia permite al CLIENTE utilizar todos los recursos que se ponen a
        su disposici&oacute;n en el sitio web y beneficiarse de los servicios
        prestados por la aplicaci&oacute;n online, conforme a lo estipulado en
        las presentes Condiciones Generales de Contrataci&oacute;n.
      </p>

      <p>
        El CLIENTE no podr&aacute; copiar, modificar, crear trabajos derivados,
        realizar trabajos de ingenier&iacute;a inversa o tratar de descubrir el
        c&oacute;digo fuente de la aplicaci&oacute;n o de cualquier parte de la
        misma.
      </p>

      <p>
        Salvo que El PROPIETARIO DE LA WEB le ya haya otorgado su consentimiento
        expreso y por escrito, el CLIENTE no podr&aacute; ceder, transferir o
        sub-licenciar a terceros sus derechos de uso de la aplicaci&oacute;n,
        otorgar garant&iacute;as sobre estos ni transmitir ninguna parte de sus
        derechos de utilizaci&oacute;n de la misma.
      </p>
      <p><strong>&nbsp;</strong></p>
      <br /><br />
      <strong>
        4. DESCRIPCI&Oacute;N DE LOS PLANES DE SERVICIOS OFERTADOS</strong
      >

      <p><strong>4.1. Descripci&oacute;n de los planes de servicios</strong></p>

      <p>
        En cumplimiento de la normativa vigente y, en especial de la Ley
        34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y
        de Comercio Electrónico, EL PROPIETARIO DE LA WEB ofrece en cada uno de
        los apartados del Sitio Web, según el tipo de plan de suscripción de
        licencia de uso mensual o anual renovable por dominio o email de que se
        trate, información sobre el mismo, sus características y precios.
      </p>

      <p>
        El PROPIETARIO DE LA WEB dispone de dos planes de suscripción de
        licencias de uso mensual o anual renovables por dominio o email para la
        generación desde el Sitio Web de los textos legales: PLAN BÁSICO y PLAN
        PROFESIONAL.
      </p>

      <p>
        El CLIENTE pagará la respectiva cuota en función del plan del servicio
        profesional contratado en la modalidad de pago mensual o anual.
      </p>
      <br />
      <ul>
        <li type="none" class="check">
          <strong>PLAN BÁSICO 7,50 €/MES o 90€/AÑO</strong>
        </li>

        <p>
          Limpieza en la subido al CMS
        </p>
        <p>
          Limpieza en archivos subidos por el usuario al CMS
        </p>
        <p>
          Hasta 25 MB en tamaño máximo de archivo
        </p>
        <p>
          Ancho de banda de 1GB/mes
        </p>
        <p>
          Limpieza en más de 40 tipos de archivos diferentes, especificados a
          continuación: .epub, .pdf, .odc, .odf, .odg", .odi , .odp , .ods ,
          .odt , .pptx , .xlsx , .docx , .torrent , .ncx , .tar , .xht , .xhtml
          , .zip , .flac , .mp3 , .mpga , .mp2 , .m4a , .mpega , .oga , .opus ,
          .ogg , .spx , .aifc , .aif , .aiff , .wav , .gif , .jpg , .jpe , .jpeg
          , .png , .svgz , .svg , .tiff , .tif , .bmp , .ppm , .css , .htm ,
          .html , .shtml , .text , .txt , .mp4 , .wmv , .avi
        </p>
        <p>
          Uso de la aplicación web
        </p>
        <p>
          Uso del plugin para Wordpress
        </p>
        <p>
          Uso de la extensión para Chrome
        </p>
        <p>
          Renovación mensual o anual de la suscripción de licencia de uso por
          dominio o email
        </p>
        <p>Soporte t&eacute;cnico de uso de la aplicaci&oacute;n</p>
      </ul>
      <br />
      <ul>
        <li type="none" class="check">
          <strong>PLAN PROFESIONAL 29,90 €/MES o 358,80€/AÑO</strong>
        </li>

        <p>
          Limpieza en la subido al CMS
        </p>
        <p>
          Limpieza en archivos subidos por el usuario al CMS
        </p>
        <p>
          API endpoints
        </p>
        <p>
          Hasta 50 MB de tamaño máximo de archivo
        </p>
        <p>Ancho de banda de 10GB/mes</p>
        <p>
          Limpieza en más de 40 tipos de archivos diferentes, especificados a
          continuación: .epub, .pdf, .odc, .odf, .odg", .odi , .odp , .ods ,
          .odt , .pptx , .xlsx , .docx , .torrent , .ncx , .tar , .xht , .xhtml
          , .zip , .flac , .mp3 , .mpga , .mp2 , .m4a , .mpega , .oga , .opus ,
          .ogg , .spx , .aifc , .aif , .aiff , .wav , .gif , .jpg , .jpe , .jpeg
          , .png , .svgz , .svg , .tiff , .tif , .bmp , .ppm , .css , .htm ,
          .html , .shtml , .text , .txt , .mp4 , .wmv , .avi
        </p>
        <p>Uso de la aplicación web</p>
        <p>Uso del plugin para Wordpress</p>
        <p>Uso de API</p>
        <p>
          Renovación mensual o anual de la suscripción de licencia de uso por
          dominio o email
        </p>
        <p>Soporte t&eacute;cnico de uso de la aplicaci&oacute;n</p>
      </ul>
      <p>
        Quedan excluidos de la anterior remuneraci&oacute;n y ser&aacute;n
        objeto de facturaci&oacute;n diferenciada, previa aprobaci&oacute;n por
        parte del CLIENTE, todos aquellos otros servicios adicionales
        solicitados por el CLIENTE y debidamente satisfechos al PROPIETARIO DE
        LA WEB.
      </p>

      <p>
        Los planes de los servicios ofertados, as&iacute; como otros que en un
        futuro se pudiesen ofrecer a trav&eacute;s del Sitio Web, ser&aacute;n
        prestados a cambio de la correspondiente remuneraci&oacute;n a
        satisfacer por parte del CLIENTE, y conferir&aacute;n a &eacute;ste un
        derecho de uso sobre los mismos, sometido a los plazos, condiciones y
        t&eacute;rminos de las presentes condiciones generales y de las
        condiciones particulares que, en su caso, se establezcan.
      </p>

      <p>
        No obstante, EL PROPIETARIO DE LA WEB se reserva el derecho a retirar o
        cambiar los servicios que se ofrecen a trav&eacute;s del Sitio Web,
        mediante el simple cambio en el contenido de las mismos.
      </p>

      <p>
        De esta forma los servicios ofrecidos en cada momento en el Sitio Web se
        regir&aacute;n por las Condiciones Generales vigentes en cada caso.
        As&iacute; mismo, EL PROPIETARIO DE LA WEB tendr&aacute; la facultad de
        dejar de ofrecer, sin previo aviso y en cualquier momento, el acceso a
        los servicios mencionados.
      </p>

      <p>
        Las descripciones, que en cada caso se establezcan, regular&aacute;n la
        prestaci&oacute;n por parte del PROPIETARIO DE LA WEB de los servicios
        que se ofrezcan al CLIENTE.
      </p>
      <br /><br />
      <p><strong>4.2. Indicaci&oacute;n y validez de precios</strong></p>

      <p>
        Las tarifas de los servicios se muestran siempre en la moneda Euro
        (&euro;) y son de aplicaci&oacute;n exclusivamente a los servicios de
        suscripci&oacute;n ofrecidos a trav&eacute;s de dicho Sitio Web y
        durante el tiempo que permanezcan publicados y aplicados de forma
        autom&aacute;tica por el proceso de contrataci&oacute;n en la
        &uacute;ltima fase del mismo.
      </p>

      <p>
        EL PROPIETARIO DE LA WEB se reserva expresamente el derecho de modificar
        los precios en cualquier momento sin necesidad de previo aviso. No
        obstante, en cualquier caso, se aplicar&aacute;n las tarifas en vigor
        indicadas en el momento de la realizaci&oacute;n el pedido
        correspondiente.
      </p>

      <p>
        Todo pago realizado al PROPIETARIO DE LA WEB conllevar&aacute; la
        emisi&oacute;n de una factura a nombre del CLIENTE. Dicha factura
        ser&aacute; autom&aacute;ticamente remitida a la direcci&oacute;n de
        correo electr&oacute;nico proporcionada por el CLIENTE.
      </p>

      <p>
        El CLIENTE al aceptar las presentes Condiciones Generales autoriza y
        otorga su consentimiento expreso al PROPIETARIO DE LA WEB para que la
        factura de compra del servicio se emita y env&iacute;e a su correo
        electr&oacute;nico en formato electr&oacute;nico .pdf, excepto en el
        caso de que el CLIENTE no lo autorice y solicite expresamente el
        env&iacute;o de la factura de compra en formato papel por correo postal
        ordinario.
      </p>

      <p>
        Para ello podrá contactar con el Servicio de Atención al Cliente
        enviando un correo electrónico a la dirección hola@suments.com y
        solicitar la factura de compra de su pedido en formato papel que será
        remitida por El PROPIETARIO DE LA WEB mediante correo postal ordinario a
        la dirección que indique el CLIENTE.
      </p>

      <p>
        Para cualquier información sobre los servicios adquiridos, cambio de la
        dirección de facturación o corregir errores en los datos facilitados, el
        CLIENTE deberá contactar con EL PROPIETARIO DE LA WEB a través del
        teléfono (+34) 678 698 008 (aquí creo que igual sí es obligatorio que
        figure un teléfono) o de la dirección de correo electrónico
        hola@suments.com En todo caso deberá indicarse en el asunto del mensaje
        o en la llamada a realizar el número de pedido que le fue asignado e
        indicado en el correo electrónico de confirmación de la compra.
      </p>
      <br /><br />
      <strong>5. PROCESO DE COMPRA</strong>

      <p>
        El procedimiento de contrataci&oacute;n de los servicios de
        suscripci&oacute;n ofertados en el Sitio Web &uacute;nicamente
        podr&aacute; ser realizado en idioma castellano.
      </p>

      <p>
        Toda la tramitaci&oacute;n del pedido, perfecci&oacute;n del contrato
        as&iacute; como posteriores comunicaciones con el cliente ser&aacute;n
        realizadas en idioma castellano.
      </p>

      <p>
        En el caso de que pudiera llevarse a cabo en otro idioma ser&aacute;
        indicado antes de iniciar el procedimiento de contrataci&oacute;n.
      </p>

      <p>
        El CLIENTE, como usuario registrado, para poder adquirir los servicios
        ofertados por EL PROPIETARIO DE LA WEB, deber&aacute; proporcionar de
        manera libre y voluntaria los datos personales que le ser&aacute;n
        requeridos en el formulario de compra.
      </p>

      <p>
        En todo caso la plataforma de contrataci&oacute;n del PROPIETARIO DE LA
        WEB informar&aacute; al CLIENTE, una vez finalizado el procedimiento de
        contrataci&oacute;n, v&iacute;a correo electr&oacute;nico, respecto a
        todas las caracter&iacute;sticas, precio, fecha de contrataci&oacute;n y
        plazo de duraci&oacute;n del plan del servicio adquirido.
      </p>

      <p>
        Una vez ha sido creada la cuenta de usuario registrado por parte del
        CLIENTE, se informa que de conformidad con lo exigido por el
        art&iacute;culo 27 de la Ley 34/2002, de 11 de julio, de Servicios de la
        Sociedad de la Informaci&oacute;n y de Comercio Electr&oacute;nico, el
        procedimiento de contrataci&oacute;n seguir&aacute; los siguientes
        pasos:
      </p>

      <ol>
        <li>
          EL CLIENTE en el apartado “Añadir Sitio” debe primero debe seleccionar
          si se trata de una persona física o de una empresa en el apartado ”Qué
          tipo de usuario es”. Después, hay que añadir el dominio de la compañía
          que usará la aplicación para la limpieza de metadatos, o el email en
          caso de ser una persona física.
        </li>
      </ol>

      <ol start="2">
        <li>
          Una vez añadido el dominio o email del usuario, se generará
          automáticamente un número clave en la sección “Tu token”, que el
          CLIENTE debe usar para activar los plugins de Metawash para otras
          plataformas.
        </li>
      </ol>

      <ol start="3">
        <li>
          A continuación, si el CLIENTE desea contratar un plan básico o
          profesional, debe clicar en “Actualizar plan” y seleccionar el que
          mejor se adapte a sus necesidades.
        </li>
      </ol>

      <ol start="4">
        <li>
          Antes de proceder con el pago, el CLIENTE deberá leer detenidamente
          las presentes condiciones generales y la información básica de
          protección de datos puesta a su disposición, aceptándolas en su
          totalidad mediante la marcación de la siguiente casilla de
          verificación “check-box”: “Estoy de acuerdo con la información básica
          de protección de datos puesta a mi disposición y con las Condiciones
          Generales de Contratación, aceptando ambas sin reservas”.
        </li>
      </ol>

      <ol start="5">
        <li>
          Como sistema de pago de su pedido el CLIENTE utilizará la forma de
          pago por tarjeta de crédito y/o débito establecida por EL PROPIETARIO
          DE LA WEB en el sitio web.
        </li>
      </ol>

      <ol start="6">
        <li>
          El pago será procesado una vez que el CLIENTE haga clic en el botón
          “Efectuar pedido con obligación de pago” situado al final de la
          página.
        </li>
      </ol>

      <ol start="7">
        <li>
          Una vez efectuado el pago, al CLIENTE le será remitida, a la dirección
          de correo electrónico indicada al efecto, una confirmación del pedido
          realizado, “Justificante de Compra”, que servirá como justificante de
          la operación realizada y que podrá imprimir en papel. La confirmación
          de pedido no tendrá validez como factura.
        </li>
      </ol>

      <p>
        Las comunicaciones, &oacute;rdenes de compra y pagos que intervengan
        durante las transacciones efectuadas en el Sitio Web podr&iacute;an ser
        archivadas y conservadas en los registros informatizados del PROPIETARIO
        DE LA WEB con el fin de constituir un medio de prueba de las
        transacciones, en todo caso, respetando las condiciones razonables de
        seguridad y las leyes y normativas vigentes que a este respecto sean de
        aplicaci&oacute;n, y particularmente atendiendo al REGLAMENTO (UE)
        2016/679 del PARLAMENTO EUROPEO y del CONSEJO, de 27 de abril de 2016,
        relativo a la protecci&oacute;n de las personas f&iacute;sicas en lo que
        respecta al tratamiento de datos personales y a la libre
        circulaci&oacute;n de estos datos y por el que se deroga la Directiva
        95/46/CE (REGLAMENTO GENERAL DE PROTECCI&Oacute;N DE DATOS &ndash; RGPD
        UE 2016/679) y en la Ley Org&aacute;nica 3/2018, de 5 de diciembre, de
        Protecci&oacute;n de Datos Personales y garant&iacute;a de los derechos
        digitales (LOPDGDD 3/2018), y a los derechos que asisten a los Usuarios
        conforme a la pol&iacute;tica de privacidad de este Sitio Web.
      </p>
      <p><strong>&nbsp;</strong></p>
      <ol start="6">
        <li><strong> FORMAS DE PAGO</strong></li>
      </ol>

      <p>
        Para proceder al pago, el CLIENTE deber&aacute; seguir todas y cada una
        de las instrucciones que se muestren en el Sitio Web. El pago del precio
        de los servicios s&oacute;lo podr&aacute; realizarse mediante las formas
        de pago que en cada momento se indiquen en el Sitio Web.
      </p>

      <p>
        En el caso de pago mediante tarjeta de cr&eacute;dito y/o d&eacute;bito
        el pago estar&aacute; sujeto a comprobaciones y autorizaciones por parte
        de las entidades emisoras, pero si dicha entidad no autorizase el pago,
        no se podr&aacute; continuar con el procedimiento de compra iniciado,
        quedando autom&aacute;ticamente cancelado el pedido, y
        entendi&eacute;ndose no realizada la compraventa del servicio
        solicitado. El importe del precio del&nbsp; servicio, as&iacute; como de
        cualquier impuesto que resulte de aplicaci&oacute;n, se mostrar&aacute;
        en el momento de formalizar el pedido.
      </p>

      <p>
        Con el objetivo de reforzar la seguridad y protecci&oacute;n de las
        compras online, EL PROPIETARIO DE LA WEB ha implantado los procesos
        necesarios para mejorar la seguridad de las transacciones gracias a la
        incorporaci&oacute;n de un proveedor de servicios de pago y de un
        intermediario bancario que garantizan la confidencialidad y seguridad de
        las operaciones, forzando la autenticaci&oacute;n de cada una de las
        compras que se hagan a trav&eacute;s del sitio web en los supuestos
        exigidos por la normativa de seguridad en los medios de pago (PSD2).
      </p>

      <p>
        Todas las &oacute;rdenes de pago vienen identificadas por un
        c&oacute;digo, generado por el proveedor de pagos, sin el cual ninguna
        transacci&oacute;n ser&aacute; autorizada por la entidad bancaria
        correspondiente. Este c&oacute;digo servir&aacute; al PROPIETARIO DE LA
        WEB para poder realizar los cobros correspondientes sin necesidad de
        almacenar los datos de la tarjeta de pago.
      </p>

      <p>
        En ning&uacute;n caso, EL PROPIETARIO DE LA WEB almacenar&aacute; los
        datos proporcionados por los CLIENTES a trav&eacute;s de la pasarela de
        pago en sus propios sistemas inform&aacute;ticos, y &uacute;nicamente se
        conservar&aacute;n mientras se efect&uacute;a la compra, se realiza el
        pago y hasta transcurrido el per&iacute;odo de desistimiento.
      </p>

      <p>
        Como sistema de pago existen varias modalidades de pago establecidas en
        el Sitio Web para que el CLIENTE a su elecci&oacute;n pueda realizar su
        pedido:
      </p>

      <p>
        - <strong>Stripe: </strong>El CLIENTE puede abonar el importe de su plan
        de suscripci&oacute;n de licencia de uso anual renovable por dominio
        mediante la plataforma de pagos Stripe, con tarjeta de cr&eacute;dito
        y/o d&eacute;bito.
      </p>

      <p>
        La compra del CLIENTE puede ser aplazada para la comprobaci&oacute;n
        antifraude. Tambi&eacute;n puede ser suspendida por m&aacute;s tiempo
        para una investigaci&oacute;n m&aacute;s rigurosa, para evitar
        transacciones fraudulentas.
      </p>
      <p>
        - <strong>Transferencia bancaria:</strong> El CLIENTE podr&aacute;
        escoger realizar el pago del pedido por transferencia. Para ello
        deber&aacute; seguir las instrucciones accesibles en la secci&oacute;n
        de "Actualizar plan" o "Upgrade plan".
      </p>
      <p><strong>&nbsp;</strong></p>
      <ol start="7">
        <li><strong> FACTURACI&Oacute;N</strong></li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        El CLIENTE recibir&aacute; la correspondiente factura por cada uno de
        los servicios profesionales contratados.
      </p>

      <p>
        Si el CLIENTE proporciona informaci&oacute;n de su tarjeta de
        cr&eacute;dito y/o d&eacute;bito nos autoriza a efectuar cargos en dicha
        tarjeta de cr&eacute;dito y/o d&eacute;bito por el servicio contratado
        inicialmente y por cualquier renovaci&oacute;n derivada del mismo.
      </p>

      <p>
        A no ser que EL CLIENTE anule su suscripci&oacute;n con anterioridad a
        la fecha de renovaci&oacute;n del plan de suscripci&oacute;n, autoriza
        al cargo en su tarjeta de cr&eacute;dito la cuota de suscripci&oacute;n
        correspondiente al 2 a&ntilde;o de contrato y siguientes.
      </p>

      <p>
        Los cobros por renovaci&oacute;n anual de los planes de
        suscripci&oacute;n se realizar&aacute;n por anticipado, utilizando El
        PROPIETARIO DE LA WEB el m&eacute;todo de pago convenido
        contractualmente con el CLIENTE. Las tarifas no son reembolsables
        durante el periodo de contrataci&oacute;n suscrito.
      </p>

      <p>
        Las facturas emitidas por EL PROPIETARIO DE LA WEB ser&aacute;n pagadas
        por el CLIENTE en el momento de vencimiento pactado. Si el pago de la
        factura no se recibiese en el plazo de 30 d&iacute;as desde la fecha de
        vencimiento, El PROPIETARIO DE LA WEB se reserva el derecho de
        incrementar la cantidad adeudada con una penalizaci&oacute;n equivalente
        a una vez y media al tipo de inter&eacute;s legal en vigor o la
        m&aacute;xima cantidad permitida por ley.
      </p>
      <p>
        El PROPIETARIO DE LA WEB tambi&eacute;n podr&aacute; repercutir al
        CLIENTE los gastos bancarios u otros cargos ocasionados a raz&oacute;n
        del impago de la factura.
      </p>

      <p>
        El PROPIETARIO DE LA WEB ante un retraso en el pago por parte del
        CLIENTE, podr&aacute; llevar a cabo las siguientes medidas, sin que esto
        implique renuncia de cualquier otro derecho:
      </p>

      <ul>
        <li>
          Exigir el pago anticipado de cualquier cantidad pendiente. Esto
          implica que el caso de haberse acordado la distribuci&oacute;n del
          pago en diversas cuotas o mensualidades, dicha distribuci&oacute;n
          quedar&aacute; sin efecto y El PROPIETARIO DE LA WEB tendr&aacute; el
          derecho a exigir de forma inmediata el precio total del contrato
          pendiente de cobro, en consecuencia a ello, a partir de la fecha de
          vencimiento, la deuda resultar&aacute; l&iacute;quida, vencida y
          exigible, a efectos de reclamaciones y c&oacute;mputo de intereses. En
          este contexto, se notificar&aacute; al CLIENTE por cualquier medio
          fehaciente la reclamaci&oacute;n de la cantidad pendiente de pago que
          deber&aacute; ser satisfecha por el mismo en un plazo de 10
          d&iacute;as a contar desde la recepci&oacute;n del mismo. En el caso
          de que no se abone, El PROPIETARIO DE LA WEB se reserva el derecho de
          interponer cualquier reclamaci&oacute;n judicial.
        </li>
      </ul>

      <ul>
        <li>
          El PROPIETARIO DE LA WEB se reserva el derecho a suspender
          temporalmente el acceso al servicio hasta que estas cantidades sean
          satisfechas completamente.
        </li>
      </ul>

      <p>
        La falta de pago del precio antes de expirar el plazo de duraci&oacute;n
        del contrato no liberar&aacute; al CLIENTE del deber de abonar las
        cuotas devengadas hasta ese momento y, adem&aacute;s, las que
        posteriormente se devenguen hasta que el plazo de validez del servicio
        contratado termine.
      </p>

      <p>
        Por virtud de estas condiciones generales, el CLIENTE hace un
        reconocimiento expreso de deuda a favor de El PROPIETARIO DE LA WEB por
        importe de todas las cuotas devengadas y no pagadas y las que se
        devenguen hasta la terminaci&oacute;n definitiva del contrato. En uno y
        otro caso, el CLIENTE se compromete a pagar las cantidades debidas en el
        mismo momento en que reciba requerimiento al efecto del PROPIETARIO DE
        LA WEB.
      </p>
      <p><strong>&nbsp;</strong></p>
      <ol start="8">
        <li><strong> MEDIOS T&Eacute;CNICOS PARA CORREGIR ERRORES</strong></li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        Se informa al CLIENTE que en el caso de que haya facilitada datos
        erróneos a la hora de formalizar su solicitud de pedido en el Sitio Web,
        podrá modificar los mismos poniéndose en contacto con EL PROPIETARIO DE
        LA WEB enviando un correo electrónico a hola@suments.com.
      </p>
      <p><strong>&nbsp;</strong></p>
      <ol start="9">
        <li><strong> TERMINACI&Oacute;N DEL CONTRATO</strong></li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        El contrato podr&aacute; finalizarse por mutuo acuerdo de las partes.
      </p>

      <p>
        El PROPIETARIO DE LA WEB podr&aacute; resolver el contrato en cualquier
        momento, con un preaviso de 1 mes, en los siguientes supuestos:
      </p>

      <ul>
        <li>
          Si el CLIENTE incumple cualquier disposici&oacute;n de las presentes
          Condiciones Generales de Contrataci&oacute;n, o act&uacute;a de forma
          que demuestre claramente que no tiene intenci&oacute;n de cumplir con
          los t&eacute;rminos del contrato.
        </li>
      </ul>

      <ul>
        <li>
          Si El PROPIETARIO DE LA WEB es requerido a tal efecto por la autoridad
          competente.
        </li>
      </ul>

      <p>
        El CLIENTE puede finalizar el contrato de suscripci&oacute;n de licencia
        de uso en cualquier momento y seguir teniendo acceso al plan del
        servicio contratado hasta el final del periodo de facturaci&oacute;n
        pagado. En ning&uacute;n caso el pago anual realizado es reembolsable ni
        tampoco corresponde el abono de cantidad alguna por periodos parciales
        de suscripci&oacute;n no consumidos o por servicios no utilizados.
      </p>
      <p><strong>&nbsp;</strong></p>
      <p>
        Si el CLIENTE no est&aacute; de acuerdo con los datos consignados en la
        confirmaci&oacute;n del pedido recibida en su correo electr&oacute;nico,
        podr&aacute; solicitar la modificaci&oacute;n de los mismos o la
        anulaci&oacute;n del contrato. En todo caso, la comunicaci&oacute;n
        correspondiente a la anulaci&oacute;n o modificaci&oacute;n debe
        realizarse en el plazo de siete (7) d&iacute;as h&aacute;biles desde la
        confirmaci&oacute;n del pedido, a trav&eacute;s del correo
        electr&oacute;nico soporte@Metawash.es y siempre que el CLIENTE no haya
        descargado los enlaces a los textos legales generados desde la
        aplicaci&oacute;n online.
      </p>

      <p>
        Si EL CLIENTE decide anular su suscripci&oacute;n, su cuenta se
        eliminar&aacute; autom&aacute;ticamente al final del periodo de
        facturaci&oacute;n y los enlaces a sus textos legales no ser&aacute;n
        visibles, hasta que no renueve su plan de suscripci&oacute;n de licencia
        de uso.
      </p>
      <p><strong>&nbsp;</strong></p>
      <ol start="10">
        <li><strong> IMPUESTO SOBRE EL VALOR A&Ntilde;ADIDO</strong></li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        Al tratarse de un servicio que se contrata con una empresa cuya sede de
        facturaci&oacute;n no est&aacute; en Espa&ntilde;a, la factura que emite
        el PROPIETARIO DE LA WEB al CLIENTE por la contrataci&oacute;n del
        servicio est&aacute; exenta de IVA y por lo tanto no aparece reflejado
        el impuesto del 21% IVA en la misma.
      </p>

      <p>
        Por su parte el CLIENTE ser&aacute; el sujeto pasivo del impuesto,
        debiendo registrar la factura recibida con inversi&oacute;n de sujeto
        pasivo, de manera que su base imponible, se declare en el modelo 303,
        dentro del IVA devengado, en las casillas 12 y 13 del modelo, y en las
        casillas que corresponda dentro del IVA deducible.
      </p>
      <p><strong>&nbsp;</strong></p>
      <ol start="11">
        <li><strong> DERECHO DE DESISTIMIENTO LEGAL</strong></li>
      </ol>

      <p>
        <strong
          >11.1. Informaci&oacute;n sobre el ejercicio del derecho de
          desistimiento legal</strong
        >
      </p>

      <p>
        Cuando el CLIENTE tenga la condici&oacute;n de consumidor y el contrato
        se celebre sin la presencia f&iacute;sica simult&aacute;nea del CLIENTE
        y del PROPIETARIO DE LA WEB (venta a distancia), el CLIENTE
        gozar&aacute; del derecho de desistimiento descrito en esta
        secci&oacute;n.
      </p>

      <p>
        El CLIENTE tiene reconocido el derecho de desistimiento de la compra
        efectuada a trav&eacute;s del Sitio Web y por tanto, si no queda
        satisfecho, y siempre que la propia naturaleza del servicio adquirido lo
        permita, podr&aacute; devolver &eacute;ste en un plazo m&aacute;ximo de
        catorce (14) d&iacute;as naturales y sin necesidad de
        justificaci&oacute;n, siempre y cuando la descarga de los enlaces a los
        textos legales no se haya producido. Una vez comenzada la descarga de
        los enlaces, el CLIENTE no tendr&aacute; derecho alguno a
        devoluci&oacute;n.
      </p>

      <p>
        El plazo para el ejercicio de este derecho es de 14 d&iacute;as
        naturales desde la celebraci&oacute;n del contrato si se trata de
        prestaci&oacute;n de servicios, sin penalizaciones por su ejercicio.
      </p>

      <p>
        Para ejercer el derecho de desistimiento, el CLIENTE deber&aacute;
        notificar su decisi&oacute;n de desistir del contrato a trav&eacute;s de
        una declaraci&oacute;n realizada en cualquier forma admitida en derecho.
        Podr&aacute; utilizar el modelo de formulario de desistimiento
        normalizado que figura a continuaci&oacute;n, aunque su uso no es
        obligatorio.
      </p>

      <p><strong>11.2. Modelo de formulario de desistimiento</strong></p>
      <p><strong>&nbsp;</strong></p>
      <ol>
        <li>
          Datos del representante en Espa&ntilde;a del PROPIETARIO DE LA WEB:
        </li>
      </ol>

      <p>Francisco Javier Gonz&aacute;lez Moncayo Garc&iacute;a</p>
      <p>
        Direcci&oacute;n: Calle Caba 19, 1D - 02001 Albacete (Espa&ntilde;a)
      </p>
      <p>
        Correo electr&oacute;nico:
        <a href="mailto:hola@suments.com">hola@suments.com</a>
      </p>

      <ol start="2">
        <li>
          Por la presente le comunico que desisto del contrato de venta del
          siguiente servicio ___ adquirido el d&iacute;a ___
        </li>
        <li>Nombre consumidor</li>
        <li>Domicilio consumidor</li>
        <li>Firma</li>
        <li>Fecha</li>
      </ol>

      <p>
        Para ejercer el derecho de desistimiento, el CLIENTE deber&aacute;
        notificar al representante en Espa&ntilde;a del PROPIETARIO DE LA WEB su
        decisi&oacute;n de desistir del contrato de compra a trav&eacute;s de
        comunicaci&oacute;n por escrito dirigida a la direcci&oacute;n postal
        Calle Caba 19, 1D - 02001 Albacete (Espa&ntilde;a) o por correo
        electr&oacute;nico dirigido a hola@suments.com Si recurre a esa
        opci&oacute;n, le comunicaremos sin demora a trav&eacute;s de correo
        electr&oacute;nico la recepci&oacute;n de dicho desistimiento.
      </p>

      <p>
        <b
          ><a
            href="./static/FORMULARIO DESISTIMIENTO LEGAL_metawash.me (descargable).pdf"
            target="_blank"
            onmouseover="this.style.cursor='pointer'"
            style="margin-top:-15px; text-decoration:underline;"
          >
            Haga clic aqu&iacute; para descargar el formulario de desistimiento.
          </a></b
        >
      </p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>11.3. Consecuencias del derecho de desistimiento </strong></p>
      <p>
        En caso de desistimiento, EL PROPIETARIO DE LA WEB realizar&aacute; el
        reintegro al consumidor del importe total de la compra, antes de que
        hayan transcurrido catorce (14) d&iacute;as naturales desde la fecha en
        que haya sido informado de la decisi&oacute;n de desistimiento del
        contrato del consumidor utilizando el mismo medio de pago empleado por
        el consumidor para la transacci&oacute;n inicial, a no ser que el
        consumidor haya dispuesto expresamente lo contrario y siempre y cuando
        el consumidor no incurra en ning&uacute;n gasto como consecuencia del
        reembolso.
      </p>
      <p>
        La devoluci&oacute;n del importe de la compra, se realizar&aacute; a
        trav&eacute;s del mismo medio de pago con el que el servicio fue
        adquirido por el CLIENTE.
      </p>
      <p>
        Para cumplir el plazo de desistimiento, basta con que la
        comunicaci&oacute;n relativa al ejercicio por su parte de este derecho
        sea enviada, en la forma y fondo descrita, antes de que venza el plazo
        correspondiente.
      </p>
      <p><strong>11.4. Excepciones al derecho de desistimiento </strong></p>

      <p>
        Quedan excluidos del derecho de desistimiento aquellos servicios en los
        que, por la propia naturaleza de los mismos, sea imposible llevarlo a
        cabo, sin perjuicio de la correspondiente reclamaci&oacute;n de los
        da&ntilde;os y perjuicios sufridos, incluyendo, en concreto, pero no
        exclusivamente:
      </p>

      <p>
        (i) Servicios confeccionados conforme a las especificaciones del
        consumidor o claramente personalizados.
      </p>

      <p>
        (ii) Grabaciones sonoras o de v&iacute;deo, de discos y de programas
        inform&aacute;ticos que hubiesen sido desprecintados por el consumidor.
      </p>

      <p>
        (iii) Archivos inform&aacute;ticos, suministrados por v&iacute;a
        electr&oacute;nica, susceptibles de ser descargados o reproducidos con
        car&aacute;cter inmediato para su uso permanente.
      </p>

      <p>(iv) Prensa diaria, publicaciones peri&oacute;dicas y revistas</p>

      <p>
        La excepci&oacute;n al derecho de desistimiento para los servicios
        ofertados en el Sitio Web ser&aacute; de aplicaci&oacute;n en el momento
        que EL CLIENTE descargue los enlaces a los textos legales generados para
        su propio sitio web.
      </p>

      <p>
        El derecho de desistimiento del CLIENTE se extingue anticipadamente si
        EL PROPIETARIO DE LA WEB, contando con el consentimiento expreso del
        CLIENTE o a iniciativa de &eacute;ste, ya ha ejecutado completamente la
        prestaci&oacute;n del servicio contratado antes de la expiraci&oacute;n
        del plazo de desistimiento.
      </p>

      <p>
        De este modo el CLIENTE no tiene derecho de desistimiento si EL
        PROPIETARIO DE LA WEB le suministra servicios elaborados de acuerdo con
        las especificaciones del CLIENTE, que est&eacute;n dise&ntilde;ados
        claramente en funci&oacute;n de sus necesidades o si el CLIENTE ha
        ordenado la prestaci&oacute;n de un servicio antes de la
        expiraci&oacute;n del plazo de desistimiento.
      </p>
      <p>
        <strong><u>&nbsp;</u></strong>
      </p>
      <ol start="12">
        <li>
          <strong>
            INFORMACI&Oacute;N SOBRE EL TRATAMIENTO DE DATOS PERSONALES</strong
          >
        </li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        De conformidad con lo dispuesto en el REGLAMENTO (UE) 2016/679 del
        PARLAMENTO EUROPEO y del CONSEJO, de 27 de abril de 2016, relativo a la
        protecci&oacute;n de las personas f&iacute;sicas en lo que respecta al
        tratamiento de datos personales y a la libre circulaci&oacute;n de estos
        datos y por el que se deroga la Directiva 95/46/CE (REGLAMENTO GENERAL
        DE PROTECCI&Oacute;N DE DATOS &ndash; RGPD UE 2016/679) y en la Ley
        Org&aacute;nica 3/2018, de 5 de diciembre, de Protecci&oacute;n de Datos
        Personales y garant&iacute;a de los derechos digitales (LOPDGDD 3/2018),
        EL PROPIETARIO DE LA WEB informa a los CLIENTES Y/O USUARIOS del Sitio
        Web que todos los datos personales que faciliten mediante la
        cumplimentaci&oacute;n de los formularios electr&oacute;nicos de
        contacto o registro existentes en el Sitio Web, mediante el env&iacute;o
        de correos electr&oacute;nicos a las distintas cuentas de correo
        electr&oacute;nico bajo el dominio en Internet metawash.me f<strong
          >orman parte del Registro de Actividades de Tratamiento (RAT) del </strong
        >PROPIETARIO DE LA WEB
        <strong
          >que se actualizar&aacute; peri&oacute;dicamente de acuerdo con lo
          establecido en el RGPD UE 2016/679</strong
        ><strong>, </strong>para su uso por los distintos departamentos de la
        empresa con la finalidad de poder prestar al cliente y/o usuario
        nuestros servicios, darles tramite (gesti&oacute;n, y cobro de los
        servicios contratados), enviar el bolet&iacute;n de noticias sobre las
        ofertas, promociones y recomendaciones del PROPIETARIO DE LA WEB,
        as&iacute; como remitir comunicaciones comerciales sobre nuestros
        servicios mediante carta, tel&eacute;fono, correo electr&oacute;nico,
        SMS/MMS, WhatsApp, Telegram o por otros medios de comunicaci&oacute;n
        electr&oacute;nica equivalentes, siempre y cuando el interesado haya
        consentido el tratamiento de sus datos personales para esta finalidad.
      </p>

      <p>
        La legitimaci&oacute;n del tratamiento se basa en la ejecuci&oacute;n de
        un contrato en el que el interesado es parte o para la aplicaci&oacute;n
        a petici&oacute;n de este de medidas precontractuales o por la
        obtenci&oacute;n del consentimiento expreso del interesado.
        Conservaremos sus datos personales mientras exista un inter&eacute;s
        mutuo para ello, desde que nos d&eacute; su consentimiento hasta que lo
        revoque o bien solicite la limitaci&oacute;n del tratamiento. En tales
        casos, mantendremos sus datos de manera bloqueada durante los plazos
        legalmente exigidos. Los datos no ser&aacute;n comunicados a terceros,
        salvo obligaci&oacute;n legal.
      </p>

      <p>
        Mediante la introducci&oacute;n de sus datos en los formularios
        electr&oacute;nicos existentes en el Sitio Web el CLIENTE otorga su
        consentimiento expl&iacute;cito e inequ&iacute;voco al PROPIETARIO DE LA
        WEB para que proceda, en cumplimiento de los fines mencionados en el
        apartado anterior, al tratamiento de los datos personales facilitados.
      </p>

      <p>
        El PROPIETARIO DE LA WEB podr&aacute; tener acceso a los datos de
        car&aacute;cter personal introducidos por el CLIENTE en la
        aplicaci&oacute;n online, de los que el CLIENTE es responsable. Estos
        datos &uacute;nicamente ser&aacute;n tratados por el PROPIETARIO DE LA
        WEB con la finalidad de prestar los servicios contratados en su
        condici&oacute;n de encargado del tratamiento, formalizando para ello
        por escrito el correspondiente contrato de acceso a datos personales por
        cuenta de un tercero, conforme al art&iacute;culo 28.3 RGPD (UE)
        2016/679 y al art&iacute;culo 33 de la LOPDGDD 3/2018.
      </p>

      <p>
        Tales datos no ser&aacute;n cedidos por EL PROPIETARIO DE LA WEB a
        terceros sin el consentimiento expl&iacute;cito e inequ&iacute;voco del
        CLIENTE. Todo ello, sin perjuicio, del deber de colaboraci&oacute;n del
        PROPIETARIO DE LA WEB, ante los &oacute;rganos administrativos y
        judiciales competentes que puedan requerir datos del CLIENTE afectado.
      </p>

      <p>
        As&iacute; mismo, EL PROPIETARIO DE LA WEB informa al CLIENTE de la
        posibilidad de ejercer los derechos de acceso a los datos personales,
        rectificaci&oacute;n, supresi&oacute;n (derecho al olvido),
        limitaci&oacute;n del tratamiento, portabilidad de los datos,
        oposici&oacute;n al tratamiento y a no ser objeto de decisiones
        individuales automatizadas y, cuando el tratamiento se base en el
        consentimiento, el derecho a retirarlo en cualquier momento, mediante un
        escrito dirigido a la direcci&oacute;n postal Calle Caba 19, 1D - 02001
        Albacete (Espa&ntilde;a) o a trav&eacute;s de la direcci&oacute;n de
        correo electr&oacute;nico hola@suments.com, adjuntando el afectado, en
        ambos casos, una prueba de identidad v&aacute;lida en derecho, como
        fotocopia del DNI/NIE/Pasaporte, e indicando claramente el derecho que
        desea ejercitar.
      </p>

      <p>
        Si considera que el tratamiento no se ajusta a la normativa vigente o
        considera vulnerados sus derechos, tambi&eacute;n podr&aacute; presentar
        una reclamaci&oacute;n ante la Autoridad de Control Espa&ntilde;ola en
        <a href="https://www.aepd.es">https://www.aepd.es</a> Puede consultar
        nuestra Pol&iacute;tica de Privacidad en
        <a href="https://metawash.me/#/politica-de-privacidad"
          >https://metawash.me/#/politica-de-privacidad</a
        >
      </p>
      <p><strong>&nbsp;</strong></p>
      <ol start="13">
        <li><strong> EXONERACI&Oacute;N DE RESPONSABILIDADES</strong></li>
      </ol>

      <p>
        EL PROPIETARIO DE LA WEB no puede garantizar la continuidad
        t&eacute;cnica de la tienda online del Sitio Web, la ausencia de fallos
        o interrupciones del servicio ni que el Sitio Web estar&aacute;
        disponible o accesible el cien por cien del tiempo. El Sitio Web
        est&aacute; alojado en un servidor seguro y con el certificado SSL de
        seguridad necesario, siendo estas las herramientas que dispone el
        PROPIETARIO DE LA WEB para controlar la ausencia de virus, gusanos o
        cualquier otro elemento inform&aacute;tico da&ntilde;ino.
      </p>

      <p>
        En ning&uacute;n caso, la indisponibilidad del Sitio Web, o la
        existencia de fallos en el mismo, facultar&aacute; de ning&uacute;n modo
        al CLIENTE o a terceros, a reclamar por ning&uacute;n concepto
        alg&uacute;n tipo de remuneraci&oacute;n o prebenda compensatoria.
      </p>

      <p>
        El PRESTADOR no será responsable de la utilización de la aplicación por
        parte del CLIENTE, ni de los contenidos y/o datos introducidos por este
        en la misma. El CLIENTE será en todo momento responsable de los datos
        que facilite en la cumplimentación de los distintos formularios
        electrónicos existentes en el sitio web, siendo El PRESTADOR responsable
        únicamente de ofrecer el servicio de limpieza de metadatos en los
        archivos seleccionados por el CLIENTE.
      </p>
      <p>
        El CLIENTE asegurarse de disponer de una copia de seguridad antes de que
        se realice la limpieza de metadatos del sitio web o de archivos
        individuales. El PRESTADOR no será responsable de daños o pérdidas en la
        web o en los archivos.
      </p>

      <p>
        En ning&uacute;n momento El PRESTADOR ser&aacute; responsable de una
        posible utilizaci&oacute;n err&oacute;nea de la aplicaci&oacute;n, ya
        sea voluntaria o no, por parte del CLIENTE, el cual asume todas las
        responsabilidades que al respecto pudiesen derivarse de dichas
        actuaciones.
      </p>

      <p>
        El PRESTADOR no garantiza el total cumplimiento de la normativa por
        parte del CLIENTE, puesto que no puede verificar la exactitud o
        veracidad de los datos por este introducidos en la aplicaci&oacute;n.
      </p>

      <p>
        EL PROPIETARIO DE LA WEB no se hace responsable de los efectos que pueda
        ocasionar la aplicación de los enlaces de descarga de los archivos
        limpiados en el sitio web del CLIENTE, por lo que no asume ninguna
        responsabilidad por inexactitud, omisión ni por las consecuencias
        directas o indirectas derivadas de un mal uso de los enlaces de descarga
        de los archivos limpiados por parte del CLIENTE.
      </p>

      <p>
        El CLIENTE exonera y exime al PROPIETARIO DE LA WEB de cualquier
        responsabilidad, reclamación, sanción administrativa, multa económica,
        denuncia, demanda y daños de cualquier naturaleza que surjan directa o
        indirectamente de la utilización por parte del CLIENTE de los archivos
        limpiados por Metawash o sus “plugins” y extensiones.
      </p>
      <h3><strong>&nbsp;</strong></h3>
      <h3><strong>14. PROPIEDAD INTELECTUAL E INDUSTRIAL</strong></h3>
      <h3><strong>&nbsp;</strong></h3>
      <p>
        El Sitio Web, incluyendo a t&iacute;tulo enunciativo pero no limitativo
        su programaci&oacute;n, edici&oacute;n, compilaci&oacute;n y
        dem&aacute;s elementos necesarios para su funcionamiento, el
        c&oacute;digo fuente de la aplicaci&oacute;n, los dise&ntilde;os,
        logotipos, textos y/o gr&aacute;ficos son propiedad del PROPIETARIO DE
        LA WEB o en su caso dispone de licencia o autorizaci&oacute;n expresa
        por parte de los autores.
      </p>

      <p>
        Todos los contenidos del Sitio Web se encuentran debidamente protegidos
        por la normativa de propiedad intelectual e industrial, as&iacute; como
        inscritos en los registros p&uacute;blicos correspondientes.
      </p>

      <p>
        La reproducci&oacute;n total o parcial, uso, explotaci&oacute;n,
        distribuci&oacute;n y comercializaci&oacute;n, requiere en todo caso de
        la autorizaci&oacute;n escrita previa por parte del PROPIETARIO DE LA
        WEB.
      </p>

      <p>
        Cualquier uso no autorizado previamente por parte del PROPIETARIO DE LA
        WEB ser&aacute; considerado un incumplimiento grave de los derechos de
        propiedad intelectual o industrial del autor.
      </p>

      <p>
        Los dise&ntilde;os, logotipos, texto y/o gr&aacute;ficos ajenos al
        PROPIETARIO DE LA WEB y que pudieran aparecer en el Sitio Web,
        pertenecen a sus respectivos propietarios, siendo ellos mismos
        responsables de cualquier posible controversia que pudiera suscitarse
        respecto a los mismos.
      </p>

      <p>
        EL PROPIETARIO DE LA WEB reconoce a favor de sus titulares los
        correspondientes derechos de propiedad industrial e intelectual, no
        implicando su sola menci&oacute;n o aparici&oacute;n en el Sitio Web la
        existencia de derechos o responsabilidad alguna del EL PROPIETARIO DE LA
        WEB sobre los mismos, como tampoco respaldo, patrocinio o
        recomendaci&oacute;n por parte del mismo.
      </p>

      <ol start="15">
        <li><strong> ENLACES</strong></li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        El establecimiento de un hiperenlace no implica en ning&uacute;n caso la
        existencia de relaciones entre EL PROPIETARIO DE LA WEB y el propietario
        del Sitio Web en la que se establezca, ni la aceptaci&oacute;n y
        aprobaci&oacute;n por parte del PROPIETARIO DE LA WEB de sus contenidos
        o servicios.
      </p>

      <p>
        Aquellas personas que se propongan establecer un hiperenlace previamente
        deber&aacute;n solicitar autorizaci&oacute;n por escrito al PROPIETARIO
        DE LA WEB. En todo caso, el hiperenlace &uacute;nicamente
        permitir&aacute; el acceso a la home-page o p&aacute;gina de inicio de
        los sitios web, asimismo deber&aacute; abstenerse de realizar
        manifestaciones o indicaciones falsas, inexactas o incorrectas sobre EL
        PROPIETARIO DE LA WEB, o incluir contenidos il&iacute;citos, contrarios
        a las buenas costumbres y al orden p&uacute;blico.
      </p>

      <p>
        EL PROPIETARIO DE LA WEB no se responsabiliza del uso que cada usuario
        haga de la informaci&oacute;n puesta a disposici&oacute;n en el Sitio
        Web ni de las actuaciones que realice en base a la misma.
      </p>

      <p>
        EL PROPIETARIO DE LA WEB no asume responsabilidad alguna por la
        informaci&oacute;n contenida en p&aacute;ginas web de terceros a las que
        se pueda acceder por "links" o enlaces desde cualquier p&aacute;gina web
        propiedad del PROPIETARIO DE LA WEB. La presencia de "links" o enlaces
        en el Sitio Web del PROPIETARIO DE LA WEB tiene finalidad meramente
        informativa y en ning&uacute;n caso supone sugerencia, invitaci&oacute;n
        o recomendaci&oacute;n sobre los mismos.
      </p>
      <p><strong>&nbsp;</strong></p>
      <ol start="16">
        <li><strong> ACUERDO COMPLETO</strong></li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        Las presentes condiciones han sido expuestas con la debida
        antelaci&oacute;n, de conformidad con la legislaci&oacute;n vigente.
        Asimismo, EL PROPIETARIO DE LA WEB pone a su disposici&oacute;n las
        presentes Condiciones Generales, de forma que pueden ser almacenadas y
        reproducidas, cumpliendo as&iacute; con el deber legal de
        informaci&oacute;n previa.
      </p>

      <p>
        <strong
          ><u
            >Haga clic aqu&iacute; para descargar las Condiciones Generales de
            Contrataci&oacute;n</u
          ></strong
        ><strong>.</strong>
      </p>
      <p><strong>&nbsp;</strong></p>
      <p>
        EL PROPIETARIO DE LA WEB se reserva la facultad de modificar, en
        cualquier momento, y sin aviso previo, la presentaci&oacute;n y
        configuraci&oacute;n de la tienda online del Sitio Web, las
        funcionalidades de la misma y/o de los contenidos que en ella se
        incorporan. As&iacute;, como de cesar en la prestaci&oacute;n de
        servicios en cualquier momento, manteniendo intactas las obligaciones
        comerciales o de cualquier tipo adquiridas hasta ese momento.
      </p>

      <p>
        En el caso de que cualquier disposici&oacute;n o disposiciones de estas
        Condiciones de Compra fueran consideradas nulas o inaplicables, en su
        totalidad o en parte, por cualquier Juzgado, Tribunal u &oacute;rgano
        administrativo competente, dicha nulidad o inaplicaci&oacute;n no
        afectar&aacute; a las restantes disposiciones. En dicho caso, la
        cl&aacute;usula o cl&aacute;usulas afectadas ser&aacute;n sustituidas
        por otra u otras que tengan los efectos m&aacute;s semejantes a los de
        las sustituidas.
      </p>

      <ol start="17">
        <li>
          <strong> SERVICIO DE ATENCI&Oacute;N AL CLIENTE Y POST VENTA</strong>
        </li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        Para realizar cualquier clase de consulta, plantear alguna sugerencia, o
        presentar queja o reclamación relativa a la contratación de los
        servicios, puede hacerse cumplimentando el formulario de contacto del
        Sitio Web, a través de la dirección de correo electrónico
        hola@suments.com.
      </p>

      <ul>
        <li>
          Lunes a viernes de 9:00 horas a 14:00 horas (ma&ntilde;anas) y de
          16:00 horas a 19:00 horas (tardes)
        </li>
      </ul>
      <p><strong>&nbsp;</strong></p>
      <ol start="18">
        <li>
          <strong>
            PLATAFORMA EUROPEA DE RESOLUCI&Oacute;N DE LITIGIOS EN L&Iacute;NEA
          </strong>
        </li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        En caso de que el CLIENTE haya tenido un problema con una compra o la
        prestaci&oacute;n de un servicio online, podr&aacute; hacer uso de este
        medio para presentar cualquier reclamaci&oacute;n en relaci&oacute;n con
        dicha compraventa o prestaci&oacute;n de servicios, as&iacute; como
        optar por la soluci&oacute;n extrajudicial del conflicto suscitado.
      </p>

      <p>
        En virtud de lo dispuesto en el art&iacute;culo 14.1 del Reglamento (UE)
        524/2013 de aplicaci&oacute;n en toda la Uni&oacute;n Europea y en la
        Ley 7/2017, de 2 de noviembre, por la que se incorpora al ordenamiento
        jur&iacute;dico espa&ntilde;ol la Directiva 2013/11/UE, del Parlamento
        Europeo y del Consejo, de 21 de mayo de 2013, relativa a la
        resoluci&oacute;n alternativa de litigios en materia de consumo, EL
        PROPIETARIO DE LA WEB pone a disposici&oacute;n de los usuarios del
        Sitio Web el siguiente enlace:
        <a
          href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=ES"
          >https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=ES</a
        >
      </p>

      <p>
        Mediante dicho enlace, los CLIENTES del Sitio Web podr&aacute;n acceder
        a la Plataforma Europea de Resoluci&oacute;n de Litigios en l&iacute;nea
        en materia de consumo (ODR).
      </p>

      <ol start="19">
        <li><strong> ACONTECIMIENTOS FUERA DE NUESTRO CONTROL</strong></li>
      </ol>
      <p><strong>&nbsp;</strong></p>
      <p>
        No seremos responsables por ning&uacute;n incumplimiento o retraso en el
        cumplimiento de alguna de las obligaciones asumidas, cuando el mismo se
        deba a acontecimientos que est&aacute;n fuera de nuestro control
        razonable (&laquo;Causa de Fuerza Mayor&raquo;).
      </p>

      <p>
        Las Causas de Fuerza Mayor incluir&aacute;n cualquier acto,
        acontecimiento, falta de ejercicio, omisi&oacute;n o accidente que
        est&eacute; fuera de nuestro control razonable y entre otros, los
        siguientes:
      </p>

      <ol>
        <li>Huelgas, cierres patronales u otras medidas reivindicativas.</li>
      </ol>

      <ol>
        <li>
          Conmoci&oacute;n civil, revuelta, invasi&oacute;n, amenaza o ataque
          terrorista, guerra (declarada o no) o amenaza o preparativos de
          guerra.
        </li>
      </ol>

      <p>
        III. Incendio, explosi&oacute;n, tormenta, inundaci&oacute;n, terremoto,
        hundimiento, epidemia, pandemia o cualquier otro desastre natural.
      </p>

      <ol>
        <li>
          Imposibilidad de uso de trenes, barcos, aviones, transportes de motor
          u otros medios de transporte, p&uacute;blicos o privados.
        </li>
      </ol>

      <ol>
        <li>
          Imposibilidad de utilizar sistemas p&uacute;blicos o privados de
          telecomunicaciones.
        </li>
      </ol>

      <ol>
        <li>
          Actos, decretos, legislaci&oacute;n, normativa o restricciones de
          cualquier gobierno o autoridad p&uacute;blica.
        </li>
      </ol>

      <p>
        Se entender&aacute; que las obligaciones quedar&aacute;n suspendidas
        durante el per&iacute;odo en que la Causa de Fuerza Mayor
        contin&uacute;e, y dispondremos de una ampliaci&oacute;n en el plazo
        para cumplir dichas obligaciones por un periodo de tiempo igual al que
        dure la Causa de Fuerza Mayor. Pondremos todos los medios razonables
        para que finalice la Causa de Fuerza Mayor o para encontrar una
        soluci&oacute;n que nos permita cumplir nuestras obligaciones a pesar de
        la Causa de Fuerza Mayor.
      </p>

      <ol start="20">
        <li>
          <strong> LEGISLACI&Oacute;N Y JURISDICCI&Oacute;N APLICABLES</strong>
        </li>
      </ol>

      <p>
        Las relaciones entre EL PROPIETARIO DE LA WEB y el CLIENTE surgidas como
        consecuencia de la aceptaci&oacute;n de las presentes Condiciones
        Generales de Contrataci&oacute;n se regir&aacute;n por la
        legislaci&oacute;n y jurisdicci&oacute;n espa&ntilde;olas.
      </p>

      <p>
        Los contratos electr&oacute;nicos celebrados entre empresarios o
        profesionales y usuarios, que no tengan la condici&oacute;n de
        consumidores, se presumir&aacute;n celebrados en el lugar en que
        est&eacute; establecido el prestador de servicios.
      </p>

      <p>
        Para la resoluci&oacute;n de todas las controversias o cuestiones
        relacionadas con el presente sitio web o de las actividades en &eacute;l
        desarrolladas, ser&aacute; de aplicaci&oacute;n la legislaci&oacute;n
        espa&ntilde;ola, a la que se someten expresamente las partes, con
        renuncia expresa a cualquier otro fuero que pudiera corresponderles,
        salvo que por Ley se determine de manera imperativa otro fuero distinto,
        siendo competentes para la resoluci&oacute;n de todos los conflictos
        relacionados con su uso los Juzgados y Tribunales de Albacete
        (Espa&ntilde;a).&nbsp;
      </p>

      <p>
        De conformidad con el art&iacute;culo 29 de la Ley 34/2002, de 11 de
        julio, de Servicios de la Sociedad de la Informaci&oacute;n y Comercio
        Electr&oacute;nico, los contratos celebrados por v&iacute;a
        electr&oacute;nica en los que intervenga como parte un consumidor se
        presumir&aacute;n celebrados en el lugar en que &eacute;ste tenga su
        residencia habitual.
      </p>

      <p>
        Si cualquier cl&aacute;usula incluida en las presentes Condiciones
        Generales fuese declarada total o parcialmente nula o ineficaz, tal
        nulidad o ineficacia tan s&oacute;lo afectar&aacute; a dicha
        disposici&oacute;n o a la parte de la misma que resulte nula o ineficaz,
        subsistiendo las presentes Condiciones Generales en todo lo dem&aacute;s
        y consider&aacute;ndose tal disposici&oacute;n total o parcialmente por
        no incluida.
      </p>

      <p>
        Del mismo modo, las presentes condiciones resultan sujetas a cualquier
        otra disposici&oacute;n, reglamento o ley que le resulte directa o
        indirectamente de aplicaci&oacute;n.
      </p>
    </div>
  </div>
</template>
<style scoped>
div {
  text-align: justify;
  text-justify: inter-word;
}
strong {
  font-weight: 900;
  text-decoration: bold;
}
a,
.a {
  text-decoration: underline;
  text-decoration: bold;
}
h3,
h2 {
  margin: 0px;
}
</style>
